{% extends "base.html" %} {% block htmltitle %}
<title>giraycoskun</title>
{% endblock %} {% block tabs %} {{ super() }}
<style>
  .main {
    margin: 10px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .md-header {
    position: initial;
  }

  .md-main__inner {
    margin: 10;
  }

  .md-content {
    display: none;
  }

  @media screen and (min-width: 60em) {
    .md-sidebar--secondary {
      display: none;
    }
  }

  @media screen and (min-width: 76.25em) {
    .md-sidebar--primary {
      display: none;
    }
  }
</style>
<section class="mdx-container">
  <div class="md-grid md-typeset">
    <div class="mdx-hero">
      <div class="main">
        <!-- <div class="typewriter" id="myTypewriter">
          <h1>I'm Giray Coskun</h1>
        </div> -->
        <h2 href="" class="typewrite" data-period="2000" data-type='[ "Hello World", "I am Giray Coskun", "I am a Computer Scientist", "I am a Software Engineer", "Follow the white rabbit" ]'>
          <span class="wrap"></span>
        </h2>
      </div>
      <div class="mdx-hero__content main">
        <div style="padding: 1px; border-radius: 5px">
          <p style="text-align: left">
            Hello World!
            <br />
            I am a Software Engineer/Computer Scientist <br>
            graduated from Computer Science &
            Engineering, <a href="https://www.sabanciuniv.edu/">Sabancı University</a><br />
            This is my personal website for projects, notes and blogs.
          </p>
          <p style="text-align: center">
            <a href="/home"><b>About Me</b></a> <br/>
            <a href="/home/cv"><b>CV</b></a> <br/>
            <a href="/projects"><b>My Projects</b></a> <br>
            <a href="/blog"><b>My Blog</b></a> <br>
            <a href="/developers-notebook"><b>My Notebook</b></a>
            <br/><br>
            <a href="https://giraycoskun.github.io/">My Github Projects</a> <br>
            <a href="https://www.notion.so/giraycoskun/51797f0e94b94da7998bb659ecb5cae9?v=a5832cf5567841a7aa37ed8790b66c01&pvs=4">My Library</a>
          </p>
        </div>
        <!-- <p style="border: solid; padding: 20px; border-radius: 5px">
          Hello World!<br/>
          I am Giray Coskun. <br/>
          I am a Software Engineer graduated from Computer Science & Engineering, Sabanci University<br/>
          This is my personal website for projects, notes and blogs.
          <br />
          <br />
          <a href="/home"><b>About Me</b></a> <br />
          <a href="/home/cv"><b>CV</b></a> <br />
          <a href="/projects"><b>My Projects</b></a> <br />
          <a href="/developers-notebook"><b>My Blog</b></a> <br />
          <br/>
          <a href="https://giraycoskun.github.io/"
            >My Github Projects</a
          > <br />
          <a
            href="https://www.notion.so/giraycoskun/51797f0e94b94da7998bb659ecb5cae9?v=a5832cf5567841a7aa37ed8790b66c01&pvs=4"
            >My Library
          </a>
        </p> -->
      </div>
      <div class="mdx-hero__content main">
        <img src="../assets/icons/coder.png" width="180" />
        <img src="../assets/icons/artificial-intelligence.png" width="180" />
      </div>
      <div class="mdx-hero__content main">
        <img src="../assets/icons/diver.png" width="180" />
        <img src="../assets/icons/galata-tower.png" width="180" />
      </div>
      <div class="mdx-hero__content main">
        <picture> 
          <source type="image/webp" srcset="../assets/images/sabanci_720x540.webp" sizes="(min-width: 780px) 720px, 95.65vw" alt="Me at Sabanci University">
          <img srcset="../assets/images/sabanci_720x540.jpg" src="../assets/images/sabanci_720x540.jpg" sizes="(min-width: 780px) 720px, 95.65vw" alt="Me at Sabanci University" />
      </picture>
      </div>
    </div>
  </div>
</section>
<script>
  var TxtType = function(el, toRotate, period) {
    this.toRotate = toRotate;
    this.el = el;
    this.loopNum = 0;
    this.period = parseInt(period, 10) || 2000;
    this.txt = '';
    this.tick();
    this.isDeleting = false;
};

TxtType.prototype.tick = function() {
    var i = this.loopNum % this.toRotate.length;
    var fullTxt = this.toRotate[i];

    if (this.isDeleting) {
    this.txt = fullTxt.substring(0, this.txt.length - 1);
    } else {
    this.txt = fullTxt.substring(0, this.txt.length + 1);
    }

    this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

    var that = this;
    var delta = 200 - Math.random() * 100;

    if (this.isDeleting) { delta /= 2; }

    if (!this.isDeleting && this.txt === fullTxt) {
    delta = this.period;
    this.isDeleting = true;
    } else if (this.isDeleting && this.txt === '') {
    this.isDeleting = false;
    this.loopNum++;
    delta = 500;
    }

    setTimeout(function() {
    that.tick();
    }, delta);
};

window.onload = function() {
    var elements = document.getElementsByClassName('typewrite');
    for (var i=0; i<elements.length; i++) {
        var toRotate = elements[i].getAttribute('data-type');
        var period = elements[i].getAttribute('data-period');
        if (toRotate) {
          new TxtType(elements[i], JSON.parse(toRotate), period);
        }
    }
    // INJECT CSS
    var css = document.createElement("style");
    css.type = "text/css";
    css.innerHTML = ".typewrite > .wrap { border-right: 0.08em solid #000}";
    document.body.appendChild(css);
};
</script>
{% endblock %} {% block content %}{% endblock %} {% block footer %}{% endblock
%} {% block scripts %}
<!-- Add scripts that need to run before here -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
{{ super() }}
<!-- Add scripts that need to run afterwards here -->
{% endblock %}
