{% extends "base.html" %}
{% block htmltitle %}
<title>giraycoskun</title>
{% endblock %}
{% block tabs %}
{{ super() }}
<style>
    .main {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .md-header {
        position: initial
    }

    .md-main__inner {
        margin: 10
    }

    .md-content {
        display: none
    }

    @media screen and (min-width:60em) {
        .md-sidebar--secondary {
            display: none
        }
    }

    @media screen and (min-width:76.25em) {
        .md-sidebar--primary {
            display: none
        }
    }

    .typewriter h1 {
        overflow: hidden;
        /* Ensures the content is not revealed until the animation */
        border-right: .15em solid orange;
        /* The typwriter cursor */
        white-space: nowrap;
        /* Keeps the content on a single line */
        margin: 0 auto;
        /* Gives that scrolling effect as the typing happens */
        letter-spacing: .15em;
        /* Adjust as needed */
        animation:
            typing 2s steps(40, end),
            blink-caret .70s step-end infinite;
    }


    /* The typing effect */
    @keyframes typing {
        from {
            width: 0
        }

        to {
            width: 100%
        }
    }

    /* The typewriter cursor effect */
    @keyframes blink-caret {

        from,
        to {
            border-color: transparent
        }

        50% {
            border-color: blue;
        }
    }
</style>
<section class="mdx-container">
    <div class="md-grid md-typeset">
        <div class="mdx-hero">
            <div class="main">
                <div class="typewriter" id="myTypewriter">
                    <h1>I'm Giray Coskun</h1>
                </div>
            </div>
            <div class="mdx-hero__content">
                <div class="main">
                    <img src="../assets/icons/coder.png" width="180" />
                    <img src="../assets/icons/artificial-intelligence.png" width="180" />
                    <img src="../assets/icons/diver.png" width="180" />
                    <img src="../assets/icons/galata-tower.png" width="180" />
                </div>
            </div>
            <div class="mdx-hero__content main">
                <p style="border: solid; padding: 20px;  border-radius: 5px;">
                    Hi,<br>

                    I am a senior student at Sabanci University Computer Science & Engineering with a double major
                    in Economics. <br> And this is my personal website for projects, notes and future blogs :)
                </p>
            </div>
            <div class="mdx-hero__content main">
                <img src="../assets/images/sabanci.jpg" width="720" />
            </div>
        </div>
    </div>
</section>
<script>
    var messages = ["I'm a Software Engineer ", "I'm a Backend Developer ", "Follow the white rabbit "];
    var rank = 0;

    // Code for Chrome, Safari and Opera
    document.getElementById("myTypewriter").addEventListener("webkitAnimationEnd", changeTxt);

    // Standard syntax
    document.getElementById("myTypewriter").addEventListener("animationend", changeTxt);

    function changeTxt(e) {
        const text = "I'm "
        _h1 = this.getElementsByTagName("h1")[0];
        _h1.style.webkitAnimation = 'none'; // set element animation to none
        setTimeout(function () { // you surely want a delay before the next message appears
            console.log(_h1);
            _h1.innerHTML = messages[rank];
            var speed = 2*messages[rank].length/15; // adjust the speed (3.5 is the original speed, 20 is the original string length
            _h1.style.webkitAnimation = 'typing ' + speed + 's steps(40, end), blink-caret .75s step-end infinite'; //  switch to the original set of animation      
            (rank === messages.length - 1) ? rank = 0 : rank++; // if you have displayed the last message from the array, go back to the first one, else go to next message
        }, 1500);
    }
</script>
{% endblock %}
{% block content %}{% endblock %}
{% block footer %}{% endblock %}

{% block scripts %}
<!-- Add scripts that need to run before here -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
{{ super() }}
<!-- Add scripts that need to run afterwards here -->
{% endblock %}